<div class="social-icon">

  <div class="share">
    <a class="fa-2x" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=307339489&site=qq&menu=yes" alt="contact me with QQ" title="contact me with QQ">
              <i class="fa fa-qq" aria-hidden="true"></i>
          </a>
          <a class="fa-2x" href="#" >
              <i class="fa fa-weixin" aria-hidden="true"></i>
          </a>
          <a class="fa-2x" target="_blank" href="http://weibo.com/3612080914/" alt="contact me with Weibo" title="contact me with Weibo">
              <i class="fa fa-weibo" aria-hidden="true"></i>
          </a>
          <a class="fa-2x" target="_blank" href="https://github.com/xinlvying" alt="my Github" title="my Github">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
  </div>
<!-- </div> -->
<!-- <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=307339489&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:307339489:52" alt="contact me with QQ" title="contact me with QQ"/></a> -->
