<div class="tags_column">
  <h2 class="tags_column">全部标签</h2>
  <ul class="tags_column">
    <!-- {{#foreach tags}} -->
    <i class="fa fa-tags tags_column" aria-hidden="true"></i>
    {{tag_cloud limit="all"}}
    <!-- <a href="{{url}}" class="tags_column">{{name}}</a> -->
    <!-- {{/foreach}} -->
</ul>
</div>
