<div class="tags_column">
  <h2 class="tags_column">标签</h2>
  <i class="fa fa-tags" aria-hidden="true">
  {{#foreach posts}}
  <ul>
    {{#tags}}
        <li>{{name}}</li>
    {{/tags}}
  </ul>
  {{/foreach}}
</div>
