<div class="tags_column">
  <h2 class="tags_column">标签</h2>
  <i class="fa fa-tags" aria-hidden="true"> {{tag_cloud limit="all"}}</i>
  <!-- <ul class="tags_column">
    {{#foreach tags}}
    <a href="{{url}}" class="tags_column">{{name}}<span class="post-count">{{post_count}}</span></a>
    {{/foreach}}
</ul> -->
</div>
